{% extends 'base.html' %}

{% block content %}
{% load static %}
    <center><h1>Welcome to Motorcars.com</h1></center>
    <h2>Please post your vehicle for sale <u>or</u> search our ever-growing database!</h2>
    <p>Some websites try to do too much. Then it becomes less about offering the customer
       what they actually want, and more about trying to sell them something they don’t need. 
       We aim to remedy this by making our website free for all users, and bringing it back to 
       the basics. In time, we would like to see the website evolve into a useful app that puts our 
       users in the driver seat.
    </p>
    <br>
    <center><img src="{% static 'images/sports.jpg' %}" alt="Background Image"></center>
{% endblock %}

