{% extends "base.html" %}

{% block title %}Motorcars.com - Account Management{% endblock %}

{% block content %}
<div class="acontainer">
    <div class="left-half">

<div class="form-container">
    <h2>User Profile</h2>
    
    <p><strong>Username:</strong> <font color="blue">{{ user.username }}</font></p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    
    <h3>Account Management</h3>
    <ul class="no-bullets">
        <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
        <li><a href="{% url 'account_email' %}">Change Email</a></li>
    </ul>
<br>
{% if car_count == 0 %}
    <p>You have no car listings. <a href="{% url 'car_create' %}" class="submit-button">Add your first listing</a>.</p>
{% else %}
    <div class="container">
    <p>You have {{ car_count }} car listing{{ car_count|pluralize }}.</p>
    {% for car in user_cars %}
        <a href="{% url 'car_detail' car.pk %}">
        <img src="{{ car.image.url }}" alt="{{ car.title }}" style="width:100px;height:auto;">
        </a>
        <h2>{{ car.title }}</h2>
    {% endfor %}
{% endif %}
</div>
</div>
</div>

<div class="right-half">
<h2>Your Conversations</h2>
<ul>
    {% for item in conversation_data %}
        <li>
            <a href="{% url 'conversation_detail' item.conversation.pk %}">
                Conversation with {{ item.partner.username }}: {{ item.last_message.text }}
            </a>
        </li>
    {% endfor %}
</ul>
</div>
</div>
{% endblock %}
